#RewriteEngine on
RewriteRule ^/abc /lcl-erefill-services

RewriteCond %{HTTP_USER_AGENT} "android|blackberry|googlebot-mobile|iemobile|ipad|iphone|ipod|opera mobile|palmos|webos" [NC]
RewriteCond %{REQUEST_URI} !/lcl-erefill-mobile/#/registration/confirmemail/
RewriteRule ^/$  https://%{HTTP_HOST}/lcl-erefill-mobile/index.html [R=301,L]

RewriteRule ^/$ https://%{HTTP_HOST}/lcl-erefill-services/home/en_CA/welcome [R=301,L]